@import "tailwindcss";
@plugin "daisyui";

*, html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/chat4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.bg-container {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/chat4.webp');
}